.dialog {
    --animation-time: .3s;
    --bg: rgba(241, 241, 241, 0.9);
    --bg-dialog: #F9F9F9;

    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 280px;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--bg);
    opacity: 0;
    transition: opacity var(--animation-time) ease-out;
    z-index: 105;
}

.content {
    width: 100%;
    padding: 30px;
    background: var(--bg-dialog);
}

.opened {
    opacity: 1;
    transition: opacity var(--animation-time) ease-out;
}

@media (min-width: 640px) {
    .dialog {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 600px;
        max-width: 95%;
        display: inline-block;
        box-shadow: 7px 7px 20px 10px rgba(46, 103, 140, 0.2), 0 6px 60px rgba(0, 0, 0, 0.12);
        border-radius: 20px;
    }

    .opened {
        opacity: 1;
        transition: opacity var(--animation-time) ease-out;
    }
}