@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: hsl(336, 25%, 50%);
    --bg: #fafafa;
    --light: #ffffff;
    --dark: #313131;
}

html {
    font-size: 12px;
    background-color: var(--bg);
}

.main {
    padding: 20px;
}

.container {
    box-sizing: border-box;

    width: 100%;
    padding: 0 20px;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.content__description {
    grid-column-start: 1;
    grid-column-end: 2;
}

.content__column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

    gap: 10px;
    padding: 20px;
}

.content__column_light {
    background-color: var(--light);
}

.content__column_dark {
    background-color: var(--dark);
}

.flex-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nowrap {
    flex-wrap: nowrap;
    white-space: nowrap;
}

.divideBottom {
    border-bottom: 1px solid #cecece;
}

@media (min-width: 640px) {
    .container {
        margin: 0 auto;
        max-width: 640px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}

.marginTop {
    margin-top: 10px;
}

h2 {
    padding-bottom: 30px;
    text-align: center;
    font-family: "Open Sans", serif;
    color: var(--primary);
}

@media (min-width: 1024px) {
    html {
        font-size: 14px;
    }

    .container {
        margin: 0 auto;
        max-width: 1024px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .content__description {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 1400px) {
    html {
        font-size: 16px;
    }

    .container {
        margin: 0 auto;
        max-width: 1400px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .content__description {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}